services:
  socks_proxy:
    container_name: socks-proxy
    image: 3proxy/3proxy:{{ proxy_version }}
    restart: always
    command: ["/bin/3proxy", "/etc/3proxy/3proxy.cfg"]
    configs:
      - source: app_config
        target: /etc/3proxy/3proxy.cfg
    networks:
      socks-proxy:
        ipv4_address: 172.31.0.14

configs:
  app_config:
    content: |
      timeouts 1 5 30 60 180 1800 15 60
      log
      auth strong
{% for user in proxy_users %}
      users {{ user.name }}:CL:{{ user.password }}
      allow {{ user.name }} {{ user.sourcelist|default('*') }} {{ user.targetlist|default('*') }} {{ user.targetport|default('*') }} {{ user.operation|default('*') }} {{ user.weekdayslist|default('*') }} {{ user.timeperiodslist|default('*') }}
{% endfor %}
      deny *
      flush
      socks -p{{ proxy_socks_port }}
      proxy -p{{ http_proxy_port }}

networks:
  socks-proxy:
    ipam:
      driver: default
      config:
        - subnet: 172.31.0.8/29
